/* Overall Document */
html {
  background-color: #F8F1E5;
}
body {
  font-family: Georgia, serif;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #555;
}
h2 {
  text-transform: uppercase;
  color: rgb(29, 29, 102);
  border-bottom: 1px solid darkblue;
  width: 50%;
}
h3, h4 {
  color: rgb(29, 29, 122);
}
.aside {
  font-size: 0.8em;
}
strong {
  color: #0A1612;
}
a {
  color: darkblue;
  text-decoration: none;
  border-bottom: 2px solid #F9BA32;
  transition: all 0.2s ease;
}
a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed #F9BA32;
}
a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 4px solid #F9BA32;
}

/* Header */
.header {
  background-color: #E8E8E8;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  height: 265px;
}
.header img {
  width: 480px;
  height: 240px;
  transition: all 0.3s ease;
}
.header a {
  text-decoration: none;
  border: none;
}
.header:hover img {
  width: 450px;
  height: 225px;
}
.header p {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.header:hover p {
  color: rgba(0, 0, 0, 1);
}

/* Navigation Panel */
.topnav {
  background-color: #2F3131;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
}
.topnav a {
  float: left;
  background-color: #2F3131;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  border: none;

  /* border: 1px solid Violet; */
}
.topnav a:hover {
  background-color: black;
  color: white;
}
.topnav a.active {
  background-color: rgb(29, 29, 102);
  color: white;
}

/* Column */
.column {
  float: left;
}
.column .section {
  margin-bottom: 50px;
}

/* Main Columns */
.column.main {
  box-sizing: border-box;
  border-left: 1px solid black;
  padding-left: 20px;
  padding-right: 150px;
  background-color: white;

  /* border: 1px solid Tomato; */
}
.column.main--left {
  width: 63%;
}
.column.main--right {
  width: 80%;
}
.column.main--full-size {
  width: 100%;
  padding-right: 40%;
}


/* Staff Column */
.column.staff {
  width: 37%;
  background-color: #E8E8E8;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.column.staff h2 {
  margin-left: 25%;

  /* border: 1px solid orange; */
}
.staff__section {
  float: left;
  width: 100%;
  margin-bottom: 50px;

  /* border: 1px solid Tomato; */
}
.staff__section h3 {
  width: 100%;

  /* border: 1px solid green; */
}
.staff__section__membertile {
  text-align: center;
  width: 50%;
  float: left;
  box-sizing: border-box;
  height: 175px;

  /* border: 1px solid lightgreen; */
}
#members .staff__section__membertile {
  width: 33.33%;
}
.staff__section__membertile h4, h5 {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  font-size: 100%;

  /* border: 1px solid lightblue; */
}
#members .staff__section__membertile h4, h5 {
  font-size: 80%;
}
.staff__section__membertile img {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  margin-top: 5px;
  margin-bottom: 30px;
}
#members .staff__section__membertile img {
  width: 80px;
  height: 80px;
}

/* Menu Panel */
.column.menu {
  float: left;
  width: 20%;
  height: 500px;
  background-color: rgb(250, 250, 250);
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  padding-left: 20px;
}
.column.menu a {
  text-decoration: none;
  color: #555;
  float: left;
  display: block;
  box-sizing: border-box;
  width: 75%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  transition: all 1s ease;
}
.column.menu a:hover {
  color: rgb(29, 29, 122);
  width: 95%;
}

/* Merch */
#pinborder {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 50%;
  transition: all 1s ease;
}
#pinborder:hover {
  width: 140px;
  height: 140px;
}
#pinborder img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%
  left 50%;
  transform: translate(10%, 10%);
  transition: all 1s ease;
}
#pinborder:hover img {
  width: 120px;
  height: 120px;
}

/* Misc */
.button {
  box-sizing: border-box;
  background-color: #444;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 112px;
  margin-bottom: 20px;
}
.button a {
  display: block;
  float: left;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  border: none;
}
.button a:hover {
  background-color: #111;
}

.back-to-top {
  box-sizing: border-box;
  width: 120px;
  padding: 0px;
  padding-top: 20px;
  margin-bottom: 20px;
  height: 100px;

  /* border: 1px solid Tomato; */
}
.back-to-top p {
  color: rgb(29, 29, 122);
  padding-left: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-top: 0px;
  border-bottom: none;
  border-left: 2px solid #F9BA32;
  border-top: 2px solid #F9BA32;
  transition: all 0.5s ease;

  /* border: 1px solid lightblue; */
}
.back-to-top:hover p {
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-bottom: 2px solid #F9BA32;
  border-top: none;
}
