/* Overall Document */
* {
  box-sizing: border-box;
}
html {
  background-color: #F8F1E5;
}
body {
  font-family: Georgia, serif;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #555;
}
h2 {
  text-transform: uppercase;
  color: rgb(29, 29, 102);
  border-bottom: 1px solid darkblue;
  width: 50%;
}
h3, h4 {
  color: rgb(29, 29, 122);
}
.aside {
  font-size: 0.8em;
}
strong {
  color: #0A1612;
}
a:link {
  color: darkblue;
  text-decoration: none;
  border-bottom: 2px solid #F9BA32;
  transition: all 0.2s ease;
}
a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed #F9BA32;
}
a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 4px solid #F9BA32;
}

/* Columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 0px 20px;
    background-color: white;
    border: 1px solid black;
}

/* Header */
.header {
  background-color: #E8E8E8;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  height: 265px;
}
.header img {
  width: 480px;
  height: 240px;
  transition: all 0.3s ease;
}
.header a {
  text-decoration: none;
  border: none;
}
.header:hover img {
  width: 450px;
  height: 225px;
}
.header p {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.header:hover p {
  color: rgba(0, 0, 0, 1);
}

/* Navigation Panel */
.topnav {
  background-color: #2F3131;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
}
.topnav a {
  float: left;
  background-color: #2F3131;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  border: none;

  /* border: 1px solid Violet; */
}
.topnav a:hover {
  background-color: black;
  color: white;
}
.topnav a.active {
  background-color: rgb(29, 29, 102);
  color: white;
}

/* Column */
.section {
  margin-bottom: 50px;
}

/* Main Columns */
.main--with-menu {
  width: 80%;
}
.main--full-size {
  width: 100%;
  padding-right: 40%;
}

/* Widget */
.widget {
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  padding-left: 20px;
  border: 1px solid black;
}
.widget h2 {
  width: 75%;
}


/* Staff Column */
.staff {
  padding: 0px;
  background-color: #E8E8E8;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
}
.staff h2 {
  margin-left: 25%;

  /* border: 1px solid orange; */
}

.staff h3 {
  width: 100%;

  /* border: 1px solid green; */
}
.staff__section {
  float: left;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: 1px solid Tomato; */
}

.staff__section__membertile {
  text-align: center;
  box-sizing: border-box;
  width: 180px;

  /* border: 1px solid lightgreen; */
}
#members .staff__section__membertile {
  width: 140px;
}
.staff__section__membertile h4, h5 {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  font-size: 100%;

  /* border: 1px solid lightblue; */
}
#members .staff__section__membertile h4, h5 {
  font-size: 80%;
}
.staff__section__membertile img {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  margin-top: 5px;
  margin-bottom: 10px;
}
#members .staff__section__membertile img {
  width: 80px;
  height: 80px;
}

/* Menu Panel */
.menu {
  float: left;
  width: 20%;
  height: 500px;
  background-color: rgb(250, 250, 250);
  border: 1px solid black;
  box-sizing: border-box;
  padding-left: 20px;
}
.menu a {
  text-decoration: none;
  color: #555;
  float: left;
  display: block;
  box-sizing: border-box;
  width: 75%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  transition: all 1s ease;
}
.menu a:hover {
  color: rgb(29, 29, 122);
  width: 95%;
}

/* Merch */
#pinborder {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all 1s ease;
}
#pinborder a {
  border: none;
}
#pinborder:hover {
  width: 140px;
  height: 140px;
  margin-bottom: 0px;
}
#pinborder img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%
  left 50%;
  transform: translate(10%, 10%);
  transition: all 1s ease;
}
#pinborder:hover img {
  width: 120px;
  height: 120px;
}

/* Misc */
.button {
  box-sizing: border-box;
  background-color: #444;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 112px;
  margin-bottom: 20px;
}
.button a {
  display: block;
  float: left;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  border: none;
}
.button a:hover {
  background-color: #111;
}

.back-to-top {
  box-sizing: border-box;
  width: 120px;
  padding: 0px;
  padding-top: 20px;
  margin-bottom: 20px;
  height: 100px;

  /* border: 1px solid Tomato; */
}
.back-to-top p {
  color: rgb(29, 29, 122);
  padding-left: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-top: 0px;
  border-bottom: none;
  border-left: 2px solid #F9BA32;
  border-top: 2px solid #F9BA32;
  transition: all 0.5s ease;

  /* border: 1px solid lightblue; */
}
.back-to-top:hover p {
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-bottom: 2px solid #F9BA32;
  border-top: none;
}
